{% extends 'admin/base.html.twig' %}

{% block title %} {{ parent()}} &raquo; Balls {% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col-10">Balls</h1>
        <p class="col-2"><a href="" class="btn btn-primary">Créer une Ball</a></p>
    </div>

    <table class="table text-center">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Image</th>
                <th>En ligne</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        {% for ball in balls %}
            <tr>
                <td>{{ ball.name }}</td>
                <td><img src="{{ asset(ball.image) }}" alt="{{ ball.name }}"></td>
                <td>{{ ball.isOnline ? "&#10003;" : "&#10060;" }}</td>
                <td>{{ ball.createdAt | date('d/m/y H:i') }}</td>
                <td>{{ ball.updatedAt | date('d/m/y H:i') }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
