<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/pokesprite-v7.css') }}" />
    <script>
      setTimeout(() => {
        document.location.reload();
      }, 30000);

    </script>
</head>
<body style="background: #808080;overflow: hidden;
{{ width > 0 ? 'width: ' ~ width ~ 'px;' }}
    {{ height > 0 ? 'height: ' ~ height ~ 'px;' }}
        ">
<main style="padding: 0 1rem 1rem 1rem">
<div style="text-align: center;color: white;font-size: 2rem;font-family: 'Trebuchet MS', sans-serif">
    {{ pokedex.pokemonCaught }} / {{  pokedex.pokemonCount }} ({{ pokedex.pokemonCaughtPerCent }}%)
</div>

{% for y in 1..loopFor %}
        {% for pokemon in pokedex.pokemon %}
            {% if  not pokemon.isCaptured %}
                <img src="{{ asset('images/pokemon/0.png') }}" alt="Inconnu" style="width: 32px">
            {% else %}
                {% set isShiny = pokedex.shiny ? 'shiny/' %}
                {% set isFemale = pokemon.form and not pokemon.isMale ? 'female/' %}
                {% set image = pokemon.form ? pokemon.form.image and not pokemon.isMale ? pokemon.form.image : pokemon.form.pokemon.nationalNumber : pokemon.pokemon.pokemon.nationalNumber %}
                <img src="{{ asset('images/pokemon/' ~ isShiny ~ isFemale ~ image  ~ '.png') }}"  style="width: 32px;transform: scale(1.8)">
            {% endif %}
        {% endfor %}
{% endfor %}
</main>
</body>
</html>
