<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/pokesprite-v7.css') }}" />
    <script>
      setTimeout(() => {
        document.location.reload();
      }, 30000);

    </script>
</head>
<body style="background: #808080;overflow: hidden;
{{ width > 0 ? 'width: ' ~ width ~ 'px;' }}
    {{ height > 0 ? 'height: ' ~ height ~ 'px;' }}
        ">
<div style="text-align: center;color: white;font-size: 2rem;font-family: 'Trebuchet MS', sans-serif">
    {{ pokedex.pokemonCaught }} / {{  pokedex.pokemonCount }} ({{ pokedex.pokemonCaughtPerCent }}%)
</div>

{% for y in 1..loopFor %}
        {% for pokemon in pokedex.pokemon %}
            {% if  not pokemon.isCaptured %}
                <img src="{{ asset('images/unknown.png') }}" alt="Inconnu" style="background: gray">
            {% else %}
                    <i class="pkicon {{ pokedex.shiny ? 'color-shiny' }}
                                pkicon-{{ pokemon.form ? pokemon.form.pokemon.spriteNumber : pokemon.pokemon.pokemon.spriteNumber}}"></i>
            {% endif %}
        {% endfor %}
{% endfor %}
</body>
</html>
