{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} &raquo; Créer un pokédex
{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Créer un Pokédex</li>
        </ol>
    </nav>
    <h1>Créer un pokédex</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Créer" class="btn btn-success" />
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script defer>
      document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#user_pokedex_baseGame').addEventListener('change', async (e) => {
          const form = new FormData()
          form.append('id', e.target.value)

          const response = await fetch('{{ path('app_api_pokedex_filter') }}', {
            method: 'POST',
            body: form
          })

          const result = await response.json()
          console.log(result)
          const select = document.querySelector('#user_pokedex_pokedex')
          while (select.options.length > 0) {
            select.options[0].remove()
          }

          result.forEach(r => {
            const option = new Option(r.name, r.id)
            select.appendChild(option)
          })
        })
      })
    </script>
{% endblock %}