{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} &raquo; {{ pokedex.name }} de {{ pokedex.trainer.nickname }}{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ pokedex.name }}</li>
        </ol>
    </nav>

    <div class="row">
        <h1 class="col-10">
            {{ pokedex.name }}
            {% if pokedex.shiny %}
                <img src="{{ asset('images/shiny.png') }}" alt=" chromatique" />
            {% endif %}
            de {{ pokedex.trainer.nickname }}
        </h1>
        {% if app.user and (app.user.id == pokedex.trainer.id) %}
        <p class="col-2">
            <a href="{{ path('app_pokedex_edit', {id: pokedex.id}) }}" class="btn btn-primary">Modifier mon Pokédex</a>
        </p>
        {% endif %}
    </div>

    <h2 class="text-center">
        {{ pokedex.pokemonCaught }} / {{ pokedex.pokemonCount }} ({{ pokedex.pokemonCaughtPerCent }}%)
    </h2>

    <div style="width: 50%;margin: 0 auto;">
        <div class="progress" role="progressbar" aria-label="Dex's Progress"
             aria-valuenow="{{ pokedex.pokemonCaughtPerCent }}" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: {{ pokedex.pokemonCaughtPerCent }}%"></div>
        </div>
    </div>

    <main class="container mt-5">
        <div class="pokedex-view">
        {% for pokemon in pokedex.pokemon %}
            <div class="pokedex-view__pokemon flex-fill
                {{ (pokedex.isShiny and (pokemon.pokemon and pokemon.pokemon.isShinyUnavailable))
                    ? 'bg-secondary'
                    : pokemon.isCaptured ? "bg-primary js-captured" }}"
            >
                {% if app.user and (app.user.id == pokedex.trainer.id) and not (pokedex.isShiny and ((pokemon.pokemon and pokemon.pokemon.isShinyUnavailable))) %}
                    <a href="{{ path('app_pokedex_pokemon_edit', {id: pokemon.id}) }}" class="text-dark pokedex-pokemon">
                {% endif %}
                    {% if pokedex.preventSpoil and not pokemon.isCaptured %}
                        ???
                    {% else %}
                        {% if pokemon.form %}
                            {% if pokemon.form.isGenderDifference %}
                                {{  pokemon.form.pokemon.name }}
                                {{ pokemon.isMale ? ' mâle' : ' femelle'  }}
                            {% else %}
                                {{  pokemon.form.name }}
                            {% endif %}
                        {% else %}
                            {% if not pokemon.pokemon.specificName is null %}
                                {{ pokemon.pokemon.specificName }}
                            {% else %}
                                {{  pokemon.pokemon.pokemon.name }}
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    <br>

                    {% if pokedex.preventSpoil and not pokemon.isCaptured %}
                        <img src="{{ asset('images/pokemon/0.png') }}" alt="Inconnu">
                    {% else %}
                        {% set isShiny = pokedex.shiny ? 'shiny/' %}
                        {% set isFemale = pokemon.form and pokemon.form.isGenderDifference and not pokemon.isMale ? 'female/' %}
                        {% set image = pokemon.form ? pokemon.form.image and not pokemon.isMale ? pokemon.form.image : pokemon.form.pokemon.nationalNumber : pokemon.pokemon.pokemon.nationalNumber %}
                        <img src="{{ asset('images/pokemon/' ~ isShiny ~ isFemale ~ image  ~ '.png') }}" style="height: 96px;">
                   {% endif %}

                    <span class="pokedex-pokemon__infos">
                        <span class="col">
                            {% if pokemon.captureBall %}
                                <img
                                        src="{{ asset(pokemon.captureBall.image) }}"
                                        alt="{{ pokemon.captureBall.name }}"
                                        title="{{ pokemon.captureBall.name }}"
                                        class="ball">
                            {% endif %}
                        </span>
                        <span class="col">
                            {% if pokemon.form %}

                            {% else %}
                                {{ pokemon.pokemon.regionalNumber
                                ? "#" ~ pokemon.pokemon.regionalNumber
                                : "#" ~ pokemon.pokemon.pokemon.nationalNumber }}
                            {% endif %}
                        </span>
                        <span class="col">
                            {% if pokemon.notes %}
                                <i class="bi bi-journal-text" title="{{ pokemon.notes }}"></i>
                            {% endif %}
                        </span>
                    </span>
                    {% if app.user and (app.user.id == pokedex.trainer.id) and not (pokedex.isShiny and ((pokemon.pokemon and pokemon.pokemon.isShinyUnavailable))) %}
                        </a>
                    {% endif %}
            </div>
        {% endfor %}
        </div>
    </main>
{% endblock %}
