{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} &raquo; Jeux &raquo; Modifier le Pokédex {{ pokedex.name }}{% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Administration</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_admin_pokedex_list') }}">Pokédex</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifier le Pokédex {{ pokedex.name }}</li>
        </ol>
    </nav>

    <h1>Modifier le Pokédex {{ pokedex.name }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button class="btn btn-success">Modifier</button>
    {{ form_end(form) }}

    <h2 class="mt-2">
        Pokémon
        <a href="{{ path('app_admin_pokedex_pokemon_create', {id: pokedex.id}) }}" class="btn btn-primary">
            Ajouter <i class="bi bi-plus-circle"></i>
        </a>

        <a href="{{ path('app_admin_pokedex_form_edit', {id: pokedex.id}) }}" class="btn btn-secondary">
            Modifier les formes <i class="bi bi-plus-pencil"></i>
        </a>
    </h2>
    <table class="table table-striped">
        <tr>
            <th>Options</th>
            <th>Nom</th>
            <th>Numéro régional</th>
            <th>Numéro national</th>
            <th>Image</th>
            <th>Shiny disponible</th>
        </tr>
        {% for pokemon in pokedex.pokemon %}
            <tr>
                <td>
                    <a href="{{ path('app_admin_pokedex_pokemon_edit', {id: pokemon.id}) }}" class="btn btn-primary">
                        Modifier <i class="bi bi-pencil-fill"></i>
                    </a>
                    <form action="{{ url('app_admin_pokedex_pokemon_delete', {id: pokemon.id}) }}" method="post" data-confirmation="true" id="delete-form" style="display: inline">
                        <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                        <button type="submit" class="btn btn-block btn-danger" style="display: inline-block"
                                onclick="return confirm('Voulez-vous vraiment supprimer {{ pokemon.pokemon.name }} de {{ pokedex.name }} ?')">
                            Supprimer <i class="bi bi-trash3"></i>
                        </button>
                    </form>
                </td>
                <td>
                    {% if pokemon.specificName is defined %}
                        {{ pokemon.specificName }}
                    {% else %}
                        {{  pokemon.pokemon.pokemon.name }}
                    {% endif %}
                </td>
                <td>{{ pokemon.regionalNumber }}</td>
                <td>{{ pokemon.pokemon.nationalNumber }}</td>
                <td>
                    <span><i class="pkicon pkicon-{{ pokemon.pokemon.spriteNumber}}"></i></span>
                </td>
                <td>{{ not pokemon.shinyUnavailable ? '<i class="bi bi-check-circle"></i>' : '&#10060;' }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
