{% extends 'admin/base.html.twig' %}

{% block title %} {{ parent()}} &raquo; Pokédex {% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Administration</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pokédex</li>
        </ol>
    </nav>

    <div class="row">
        <h1 class="col-10">Pokédex</h1>
        <p class="col-2">
            <a href="{{ path('app_admin_pokedex_create') }}" class="btn btn-primary">Ajouter un Pokédex</a>
        </p>
    </div>

    <table class="table table-striped text-center">
        <thead>
        <tr>
            <th>Nom du Pokédex</th>
            <th>Nombre de Pokémon</th>
            <th>Nombre de jeux</th>
            <th>En ligne</th>
            <th>Créé le</th>
            <th>Mis à jour le</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        {% for dex in pokedex %}
            <tr>
                <td>{{ dex.name }}</td>
                <td>{{ dex.pokemon.count }}</td>
                <td>{{ dex.games.count }}</td>
                <td>{{ dex.isOnline ? '<i class="bi bi-check-circle"></i>' : "&#10060;" }}</td>
                <td>{{ dex.createdAt | date('d/m/Y H:i') }}</td>
                <td>{{ dex.updatedAt | date('d/m/Y H:i') }}</td>
                <td>
                    <a href="{{ path('app_admin_pokedex_edit', {id: dex.id}) }}" class="btn btn-primary">
                        Modifier <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a href="{{ path('app_admin_pokedex_copy', {id: dex.id}) }}" class="btn btn-secondary">
                        Dupliquer <i class="bi bi-clipboard-plus"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}