{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} &raquo; Accueil{% endblock %}

{% block body %}
    {% if app.user %}
        <h1>
            Pokédex de {{ app.user.nickname }}
            {% if completion != 0 %}
                ({{ completion }}% de complétion)
            {% endif %}
        </h1>

        <p>
            <a href="{{ path('app_pokedex_create') }}" class="btn btn-success">Créer un nouveau pokédex existant</a>
            <a href="{{ path('app_pokedex_create_perso') }}" class="btn btn-success">Créer un nouveau pokédex personnalisé</a>
        </p>

        {% for pokedex in user_pokedex %}
            <p>
                <a href="{{ path('app_pokedex_view', {id: pokedex.id}) }}">{{ pokedex.name }}</a>
                {% if pokedex.shiny %}
                    <img src="{{ asset('images/shiny.png') }}" alt=" chromatique" style="height: 1rem" />
                {% endif %}
                {{ pokedex.pokemonCaught }} / {{ pokedex.pokemonCount }} ({{ pokedex.pokemonCaughtPerCent }}%)
                <br>
                <span style="width: 50%">
                    <span class="progress" role="progressbar" aria-label="Dex's Progress"
                         aria-valuenow="{{ pokedex.pokemonCaughtPerCent }}" aria-valuemin="0" aria-valuemax="100"  style="width: 50%">
                        <span class="progress-bar" style="width: {{ pokedex.pokemonCaughtPerCent }}%"></span>
                    </span>
                </span>
            </p>
        {% endfor %}

    {% else %}
        <h1>Bienvenue sur Master-Dex</h1>
        <p>
            Bienvenue visiteur, le site qui permet de gérer vos Pokédex de la première à la dernière génération
            sortie !<br>
            Les images proviennent de <a href="https://msikma.github.io/pokesprite/">msikma/pokesprite</a>.
        </p>
    {% endif %}
{% endblock %}
