{% extends 'admin/base.html.twig' %}

{% block title %} {{ parent()}} &raquo; Jeux {% endblock %}

{% block body %}
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_admin') }}">Administration</a></li>
            <li class="breadcrumb-item active" aria-current="page">Jeux</li>
        </ol>
    </nav>

    <div class="row">
        <h1 class="col-10">Jeux</h1>
        <p class="col-2"><a href="" class="btn btn-primary">Créer un jeu</a></p>
    </div>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>Nom du jeu</th>
                <th>En ligne</th>
                <th>Créé le</th>
                <th>Mis à jour le</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ game.isOnline ? "&#10003;" : "&#10060;" }}</td>
                <td>{{ game.createdAt | date('d/m/y H:i') }}</td>
                <td>{{ game.updatedAt | date('d/m/y H:i') }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}